body {
  text-align: center;
  font-family: sans-serif;
  line-height: 1.5em;
  background-color: salmon;
  color: black;
}

.intro {
  font-style: italic;
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
}
